<base ><body >{% debug %}</body>eJmDpo
<address ></address></base>
{% with var1="<script>alert('XSS');</script>"  %}<article style="color: #2ecc71"></article>q
{% endwith %}
{% with var1=123  %}Q
{% endwith %}
{% with var1="<script>alert('XSS');</script>" var3="<script>alert('XSS');</script>" var1=123  %}
<article >svW
<article ><a href=https://github.com/renatahodovan/grammarinator>{% spaceless %}<head translate=true>B
{% debug %}moZ
</head><base dir=ltr>Wlwy
</base>{% debug %}HM
{% endspaceless %}R
</a></article>kkR
{% spaceless %}{% endspaceless %}M
{% debug %}oi
{% debug %}Qb
</article>
{% endwith %}